.InputTypeFileWrapper {
  display: block;
  margin-bottom: 20px;
}

.InputTypeFile {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -10;
}

.InputTypeFile+.InputTypeFile-label {
  background-image: url('../../icons/icon-clip.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  width: 230px;
  height: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #0055FB;
}

.InputTypeFile:focus+.InputTypeFile-label {
  width: 150px;
  height: 30px;
  opacity: 0.5;
  border: 2px solid #45A5FF;
  border-radius: 7px;
}

.InputTypeFile:hover+.InputTypeFile-label {
  color: #2f7afc;
  cursor: pointer;
}

.InputTypeFile+.InputTypeFile-withoutLabel {
  background-image: none;
}
