.AppLayoutWrapper {
  display: flex;
  flex-direction: column;
}

.AppLogoWrapper {
  width: 800px;
  margin: 0 auto;
}

.AppLogo {
  width: 230px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.Heading {
  margin-bottom: 20px;
  color: #000000;
  font-weight: 300;
}

.SendedMessagesInfo {
  width: 740px;
  min-height: 300px;
  margin: 0 auto;
}

.SendedMessagesInfo-mainHeading {
  font-size: 24px;
  line-height: 30px;
}

.u-marginBottom {
  margin-bottom: 50px;
}

.u-letterSpacing {
  letter-spacing: 1px;
}
